<a href="https://colab.research.google.com/github/payal1925/ML.now-/blob/main/02_ExploratoryDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import os

In [19]:
"cd'/content/drive/MyDrive/STUDENT'"

"cd'/content/drive/MyDrive/STUDENT'"

In [23]:
math_data = pd.read_csv('/content/drive/MyDrive/STUDENT/student-mat.csv', sep =';')
math_data.head(10)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

In [26]:
# categorical to numerical
# unique() all columns values 
# convert the categories into number
print(f'school: {math_data.school.unique()}')
print(f'sex: {math_data.sex.unique()}')
print(f'address: {math_data.address.unique()}')
print(f'Mjob: {math_data.Mjob.unique()}')
print(f'Fjob: {math_data.Fjob.unique()}')
print(f'higher: {math_data.higher.unique()}')

school: ['GP' 'MS']
sex: ['F' 'M']
address: ['U' 'R']
Mjob: ['at_home' 'health' 'other' 'services' 'teacher']
Fjob: ['teacher' 'other' 'services' 'health' 'at_home']
higher: ['yes' 'no']

In [27]:
#convert the catagories into numbers

#binary valued
math_data['school'] = math_data['school'].apply({'GP':1, 'MS':2}.get)
math_data['sex'] = math_data['sex'].apply({'F':1, 'M':2}.get)
math_data['school'] = math_data['school'].apply({'U':1, 'R':2}.get)
math_data['school'] = math_data['school'].apply({'yes':1, 'no':2}.get)

#multi-valued
math_data['Mjob'] = math_data['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
math_data['Fjob'] = math_data['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

math_data.head(15)

   school  sex  age address famsize Pstatus  ...  Walc  health  absences  G1  G2  G3
0    None    1   18       U     GT3       A  ...     1       3         6   5   6   6
1    None    1   17       U     GT3       T  ...     1       3         4   5   5   6
2    None    1   15       U     LE3       T  ...     3       3        10   7   8  10
3    None    1   15       U     GT3       T  ...     1       5         2  15  14  15
4    None    1   16       U     GT3       T  ...     2       5         4   6  10  10
5    None    2   16       U     LE3       T  ...     2       5        10  15  15  15
6    None    2   16       U     LE3       T  ...     1       3         0  12  12  11
7    None    1   17       U     GT3       A  ...     1       1         6   6   5   6
8    None    2   15       U     LE3       A  ...     1       1         0  16  18  19
9    None    2   15       U     GT3       T  ...     1       5         0  14  15  15
10   None    1   15       U     GT3       T  ...     2       2         0  10   8   9
11   None    1   15       U     GT3       T  ...     1       4         4  10  12  12
12   None    2   15       U     LE3       T  ...     3       5         2  14  14  14
13   None    2   15       U     GT3       T  ...     2       3         2  10  10  11
14   None    2   15       U     GT3       A  ...     1       3         0  14  16  16

[15 rows x 33 columns]